/.venv
setup_cpu.sh
teardown_cpu.sh
client_copy
client_copy_loop
client_zc
client_zc_loop_pipeline
server_zc
client_zc_loop
client_copy_loop_pipeline
results_sizes_zc_comp_issue???.csv
server_zc_loop_pipeline
server_copy_loop_pipeline
